@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroyextrabold.woff2') format('woff2'),
  	   url('../fonts/Gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroylight.woff2') format('woff2'),
       url('../fonts/Gilroylight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	background-color: #ffffff;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-header { 
	margin-bottom: 75px;
	
 }
.main-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 1160px;
	margin: 0 auto;	
	margin-bottom: 50px;
	min-height: 70px;
	background-color: #f7e296;
	margin-top: 41px;
	padding-top: 53px;
	position: relative;


}
.main-header-logo {
	position: absolute;
	top: -24px;
	left: 60px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: 800;
	color: #000000;
	text-transform: uppercase;
}
.main-header-logo:hover {
	opacity: 0.6;
}
.search-field {
	opacity: 0.3;
}
.search-field:hover {
	opacity: 0.6;
}
.user-navigation {
	display: flex;
	flex-wrap: wrap;
	font-size: 15px;
	line-height: 30px;
	color: #000000;
	list-style: none;
	max-width: 60%;
	justify-content: flex-end;

}

.search {
	margin-left: 60px;
	
}
.search input{
	border: none;
	background: none;
}
.login-link {
	margin-right: 180px;
	margin-left: auto;
}
.profile-link {
	margin-right: 20px;
	margin-left: auto;
}

.logout-link {
	margin-right: 60px;

}

.compare {
	margin-right: 21px;
}
.cart {
	margin-right: 40px;
}
.user-navigation a {
	display: flex;
	align-items: center;
	padding: 10px 20px;
}

.user-navigation img {
	margin-right: 5px;

}

.site-navigation {
	display: flex;
	justify-content: space-between;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	list-style: none;
	text-transform: uppercase;
	width: 100%;
	padding-left: 60px;
	padding-right: 60px;

}

.catalog-goods {
	margin-right: 320px;

}
.catalog-goods a{
	position: relative;

	/*background: rgba(234, 55, 45, 0.2);
	box-shadow: inset 0 0 0 2px rgb(234, 55,45);*/
}
}
.catalog-goods a::after{
	content: "";

	position: absolute;
	left: 105%;

	width: 20px;
	height: 20px;

	background-image: url("img/plus.png");
	background-repeat: no-repeat;
	background-position: 0 0;

	background-color: red;

}
.delivery {
	margin-right: 40px;
}
.warranty {
	margin-right:  110px;
}

.site-navigation a,
.user-navigation a {
	color: #000000;
}
.user-navigation a:hover,
.site-navigation a:hover {
	opacity: 0.6;
}

.user-navigation a:active,
.site-navigation a:active {
	opacity: 0.3;
}
.catalog-navigation,
.breadcrumbs {
	display: flex;
	justify-content: flex-start;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
	text-transform: none;
	padding: 0;
	margin: 0;
	margin-bottom: 55px;
	/*временно для разметки*/
	min-height: 24px;
}
.page-title {
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	/*временно для сетки*/
	min-height: 48px;
}
.wrapper {
	display: flex;
	justify-content: space-between;
}

.filters {
	width: 330px;
	/*временно для сетки*/
	min-height: 800px;
}

.catalog {
	width: 760px;
	/*временно для сетки*/
	min-height: 1000px;
}
.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	list-style: none;
}
.catalog-item {
	width: 360px;
	margin-bottom: 20px;
	/*margin-right: 40px;*/
}

.product-groups-list {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
}
.product-groups-item {
	text-align: center;
}
.product-groups-item a,
.breadcrumbs a,
.sorting-attribute a,
.catalog-item a,
.pagination a {
	color: #000000;
}

.service-item {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
	text-transform: uppercase;
}
.catalog-item h3 {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
}
.service-item-current h3,
.about-us h2,
.contacts-box h2,
.goods h1 {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
}
.filters h2,
.catalog h2,
.pagination li {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;
}
.service-item-current p {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;
}
.partners-list,
.color ul, 
.bluetooth ul, 
.catalog ul,
.pagination ul {
	list-style: none;
}
 
.company-info {
	display: flex;
	justify-content: space-between;
	/*нужно ли здесь спэйс бетвин?*/
	margin: 0;
	padding: 0;
}
.about-us {
	width: 460px;
	margin-right: 140px;
}
.contacts-box {
	width: 560px;
	
}
.map{
	margin: 0;
}

.write-us form,
.big-map {
	display: none;
}
.about-us p,
.contacts-box p {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;

}
.about-us ul {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 40px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
	margin-bottom: 27px;
	
}
.contacts-box figure {
	margin-bottom: 27px; 
	
}
.about-us a,
.write-us a {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
	text-transform: uppercase;
	margin-left: 25px; 
}

.main-footer { 
	background-color: #464646;
 }

.footer-wrapper {
	width: 1160px;
	margin: 0 auto;
}

.footer-user-navigation a{
	color: #ffffff;

}
.footer-user-navigation img {
	color: #ffc600;
	
}
.footer-user-navigation .cart{
	margin-right: 20px;
}

.footer-wrapper-1,
.footer-wrapper-2 {
	display: flex;
	/*background-color: #464646;*/
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin: 0 auto 100px auto;
	color: #000000;
	
}

.footer-wrapper-2 p{
	color: #ffffff;
	
}

.main-footer-logo{
	position: relative;
	top: 0;
	left: 0;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: 800;
	color: #ffc600;
	text-transform: uppercase;
	background-color: #464646;
}
.main-footer-logo:hover {
	opacity: 0.6;
}
.footer-navigation {
	display: flex;
	justify-content: space-between;
	position: relative;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #ffffff;
	background-color: #464646;
	list-style: none;
	text-transform: uppercase;

}
.footer-navigation-list{
	display: flex;
	justify-content: space-between;
	width: 440px;
}
.footer-wrapper-3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-list{
	display: flex;
	justify-content: space-between;
	width: 160px;
	padding: 0;
	margin: 0;
	margin-left: 520px;
	
}

.footer-navigation a{
	color: #ffffff;
}
.footer-navigation ul,
.footer-social ul {
	list-style: none;
}
.htmlacademy-logo {
	/*padding-right: 20px;*/
}
fieldset {
	border: none;
 }
