@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroyextrabold.woff2') format('woff2'),
  	   url('../fonts/Gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroylight.woff2') format('woff2'),
       url('../fonts/Gilroylight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	background-color: #ffffff;
}

/** {
	background: rgba(0,100,0,0.1);
	box-shadow: inset 0 0 0 2px darkblue;
}*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  margin: 0;
  padding: 0;
  border: none;
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}


.main-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 1160px;
	margin: 0 auto;	
	margin-bottom: -110px;
	min-height: 70px;
	background-color: #f7e296;
	margin-top: 41px;
	padding-top: 33px;
	padding-bottom: 163px;
	position: relative;


}
.main-header-logo {
	position: absolute;
	top: -24px;
	left: 58px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: 800;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 0.48px;
}
.main-header-logo:hover {
	opacity: 0.6;
}
.search-field {
	opacity: 0.3;
}
.search-field:hover {
	opacity: 0.6;
}
.user-navigation {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	font-size: 15px;
	line-height: 30px;
	color: #000000;
	list-style: none;
	max-width: 60%;
	justify-content: flex-end;
	margin-bottom: 29px;

}

.search {
	position: relative;
	margin: 0;
	margin-left: 97px;
	margin-bottom: 29px;
	
}

.search img {
	position: absolute;
	bottom: 20%; 
	left: -19%

}

.search input{
	border: none;
	background: none;
}
.login-link {
	margin-right: 177px;
	margin-left: 0;
}
.profile-link {
	margin-right: 20px;
	margin-left: auto;
}

.logout-link {
	margin-right: 60px;

}


.compare {
	margin-right: 1px;
}
.cart {
	margin-right: 40px;
}
.user-navigation a {
	display: flex;
	align-items: center;
	padding: 10px 20px;
}

.user-navigation img {
	margin-right: 12px;

}

.site-navigation {
	display: flex;
	justify-content: space-between;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;
	font-weight: 800;
	color: #000000;
	list-style: none;
	text-transform: uppercase;
	width: 100%;
	padding-left: 60px;
	padding-right: 60px;
	margin: 0;


}

.catalog-goods {
	width: 224px;
	margin-right: 316px;

}
.catalog-goods a{
	position: relative;

}

.catalog-goods a::after{
	content: "";

	position: absolute;
	left: 105%;
	top: 10%;

	width: 20px;
	height: 20px;

	background-image: url("../img/plus.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}

.delivery {
	margin-right: 34px;
}
.warranty {
	margin-right:  108px;
}

.site-navigation a,
.user-navigation a {
	color: #000000;
}
.user-navigation a:hover,
.site-navigation a:hover {
	opacity: 0.6;
}

.user-navigation a:active,
.site-navigation a:active {
	opacity: 0.3;
}
.catalog-navigation,
.breadcrumbs {
	display: flex;
	justify-content: flex-start;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
	text-transform: none;
	padding: 0;
	margin: 0;
	margin-bottom: 55px;
	/*временно для разметки*/
	min-height: 24px;
}
.page-title {
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	/*временно для сетки*/
	min-height: 48px;
}
.wrapper {
	display: flex;
	justify-content: space-between;
}


.filters {
	width: 330px;
	/*временно для сетки*/
	min-height: 800px;
}

.catalog {
	width: 760px;
	/*временно для сетки*/
	min-height: 1000px;
}
.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	list-style: none;
}
.catalog-item {
	width: 360px;
	margin-bottom: 20px;
	/*margin-right: 40px;*/
}

.product-groups-list {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
}
.product-groups-item {
	text-align: center;
}
.product-groups-item a,
.breadcrumbs a,
.sorting-attribute a,
.catalog-item a,
.pagination a {
	color: #000000;
}

.services .wrapper {
	width: 1160px;
	padding: 0;
	margin: 0;
	margin-bottom: 250px;
	list-style: none;
	
}

.services-list {
	width: 160px;
	padding: 0;
	padding-top: 20px;
	margin: 0;
	list-style: none;
	text-align: center;



	/*box-shadow: inset 0 0 0 2px red;*/
}

.service-item-current {
	width: 760px;
	padding: 0;
	margin: 0;
	/*box-shadow: inset 0 0 0 2px red;*/
}

.service-item {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	letter-spacing: 3.6px;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	padding-bottom: 55px;


}

.catalog-item h3 {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
}
.service-item-current h3{
	padding: 0;
	margin: 0;
	padding-bottom: 40px;

}


.service-item-current h3,
.about-us h2,
.contacts-box h2 {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.16px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
}
.filters h2,
.catalog h2,
.pagination li {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;
}
.service-item-current p {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;
}

.wrapper img {
	padding: 0;
	padding-left: 90px;
	height: 100%; /*это правильно? по другому не выравнивается*/
}

.device-slider {
	position: relative;
	padding: 0;
	margin: 0;
	margin-bottom: 115px;
	z-index: 1;
}

.device-slogan {
	width: 560px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 56px;
	font-weight: 800;
	color: #000000;
	padding: 0;
	margin: 0;
	margin-bottom: 19px;
	margin-top: 78px;
	letter-spacing: 0.47px;
}

.device-feature {
	width: 560px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #000000;
	padding: 0;
	margin: 0;
	margin-bottom: 51px;
	letter-spacing: 0.15px;
}

.device-slider-description a {
	display: table;
	width: 220px;
	text-align: center;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;
	font-weight: 800;
	color: #000000;
	padding: 0;
	margin: 0;
	margin-bottom: 55px;
	text-transform: uppercase;
	background-image: url("../img/Y-l.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 220px 10px;
}

.device-slider-description a:hover {
	background-size: 220px 40px;

}

.device-slider-description a:active {
	opacity: 0.3;
	
}


.monopod-features span {
	display: block;
	padding: 0;
	padding-right: 80px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 36px;
	line-height: 48px;
	font-weight: 300;
	color: #000000;
}

.monopod-features th {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 30px;
	font-weight: 300;
	color: #000000;
}

.product-groups-list {
	display: flex;
	justify-content: space-between;
	min-width: 1160px;
	padding: 0;
	margin: 0;
	margin-bottom: 165px;


	/*box-shadow: inset 0 0 0 2px blue;*/
}

.product-groups-item a {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
	width: 160px;
	
	
	/*box-shadow: inset 0 0 0 2px red;*/

}



.product-groups-item p {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: auto; 
	text-align: left;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;

	/*box-shadow: inset 0 0 0 2px green;*/
}


.product-groups-item svg{
	box-sizing: border-box;
	background-color: #f7e296;
	margin-bottom: 38px;
	padding: 30px;
}

.product-groups-item svg:hover {
	background-color: #f0c52e;
}

.product-groups-item svg:active > *{
	opacity: .3;
}


.partners-list {
	display: flex;
	justify-content: space-between;
	min-width: 1160px;
	padding: 0;
	margin: 0;
	margin-bottom: 160px;
	list-style: none;


	/*box-shadow: inset 0 0 0 2px blue;*/
}

.partner img {
	padding: 0;
	margin: 0;
	filter: grayscale(100%);
	opacity: 0.2;
}

.partner img:hover {
	padding: 0;
	margin: 0;
	filter: none;
	opacity: 1;
}


.partners-list,
.color ul, 
.bluetooth ul, 
.catalog ul,
.pagination ul {
	list-style: none;
}
 
.company-info {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 95px;
	
}


.contacts-box figure {
	margin: 0;
	padding: 0;
	padding-bottom: 80px;

}

.about-us {
	width: 460px;
	margin-right: 135px;
}
.contacts-box {
	width: 560px;
	
}

.about-us h2,
.contacts-box h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 60px;

}

.contacts-box a,
.contacts-box img{
	padding: 0;
	margin: 0;

}


.map{
	margin: 0;
}

.write-us form,
.big-map {
	display: none;
}
.about-us p,
.contacts-box p {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	margin-bottom: 45px;

}
.about-us ul {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 40px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
	margin-bottom: 60px;
	
	
}

.about-us li {
	padding: 0;
	margin: 0;
}


/*.contacts-box figure {
	padding: 0;
	margin: 0;
	margin-bottom: 27px; */
/*	
}*/
.about-us a,
.write-us a {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	margin-left: 25px; 
}

.main-footer { 
	background-color: #464646;
 }

.footer-wrapper {
	width: 1160px;
	margin: 0 auto;
}

.footer-user-navigation a{
	color: #ffffff;

}
.footer-user-navigation img {
	color: #ffc600;
	
}
.footer-user-navigation .cart{
	margin-right: 20px;
}

.footer-wrapper-1,
.footer-wrapper-2 {
	display: flex;
	/*background-color: #464646;*/
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin: 0 auto 100px auto;
	color: #000000;
	
}

.footer-wrapper-2 p{
	color: #ffffff;
	
}

.main-footer-logo{
	position: relative;
	top: 0;
	left: 0;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: 800;
	color: #ffc600;
	text-transform: uppercase;
	background-color: #464646;
}
.main-footer-logo:hover {
	opacity: 0.6;
}
.footer-navigation {
	display: flex;
	justify-content: space-between;
	position: relative;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #ffffff;
	background-color: #464646;
	list-style: none;
	text-transform: uppercase;
	letter-spacing: 3.6px;

}
.footer-navigation-list{
	display: flex;
	justify-content: space-between;
	width: 440px;
}
.footer-wrapper-3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-list{
	display: flex;
	justify-content: space-between;
	width: 160px;
	padding: 0;
	margin: 0;
	margin-left: 520px;
	
}

.footer-navigation a{
	color: #ffffff;
}
.footer-navigation ul,
.footer-social ul {
	list-style: none;
}
.htmlacademy-logo {
	/*padding-right: 20px;*/
}
fieldset {
	border: none;
 }
