@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroyextrabold.woff2') format('woff2'),
  	   url('../fonts/Gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroylight.woff2') format('woff2'),
       url('../fonts/Gilroylight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	background-color: #ffffff;
}
a {
	text-decoration: none;
}
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-header { 
	margin-bottom: 75px;
	
 }
.main-navigation {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: space-between;
	align-items: center;
	width: 1160px;
	margin: 0 auto;	
	margin-bottom: 50px;
	min-height: 70px;
	background-color: #f7e296;
	margin-top: 41px;
	padding-top: 53px;


}
.main-header-logo {
	position: absolute;
	top: -24px;
	left: 60px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: 800;
	color: #000000;
	text-transform: uppercase;
}
.main-header-logo:hover {
	opacity: 0.6;
}
.search-field {
	opacity: 0.3;
}
.search-field:hover {
	opacity: 0.6;
}
.user-navigation {
	display: flex;
	font-size: 15px;
	line-height: 30px;
	color: #000000;
	list-style: none;
	max-width: 50%;
	justify-content: flex-end;

}

.search {
	margin-left: 60px;
}
.login-link {
	margin-right: 200px;
	margin-left: auto;
}
.compare {
	margin-right: 41px;
}
.cart {
	margin-right: 60px;
}
.user-navigation a {
	display: flex;
	align-items: center;
}

.user-navigation img {
	margin-right: 5px;

}

.site-navigation {
	display: flex;
	justify-content: space-between;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	list-style: none;
	text-transform: uppercase;
	width: 100%;
	padding-left: 60px;
	padding-right: 60px;
}

.catalog {
	margin-right: 320px;
}
.delivery {
	margin-right: 40px;
}
.warranty {
	margin-right:  110px;
}

.site-navigation a,
.user-navigation a {
	color: #000000;
}
.user-navigation a:hover,
.site-navigation a:hover {
	opacity: 0.6;
}

.user-navigation a:active,
.site-navigation a:active {
	opacity: 0.3;
}
.catalog-navigation,
.breadcrumbs {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
	text-transform: none;
}
.product-groups-list {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
}
.product-groups-item {
	text-align: center;
}
.product-groups-item a,
.breadcrumbs a,
.sorting-attribute a,
.catalog-item a,
.pagination a {
	color: #000000;
}

.service-item {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
	text-transform: uppercase;
}
.catalog-item h3 {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
}
.service-item-current h3,
.about-us h2,
.contacts h2,
.goods h1 {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
}
.filters h2,
.catalog h2,
.pagination li {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;
}
.service-item-current p {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;
}
.partners-list,
.color ul, 
.bluetooth ul, 
.catalog ul,
.pagination ul {
	list-style: none;
}
 
.company-info {
	display: flex;
	justify-content: space-between;
	/*нужно ли здесь спэйс бетвин?*/
	margin: 0;
	padding: 0;
}
.about-us {
	width: 460px;
	/*margin-right: 70px;*/
}
.contacts {
	width: 560px;
	margin-left: 140px;
}

.about-us p,
.contacts p {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;
}
.about-us ul {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 40px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
}
.about-us a,
.write-us a {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
	text-transform: uppercase;
}
.main-footer-logo{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: 800;
	color: #ffc600;
	background-color: #ffffff;
	text-transform: uppercase;
}
.main-footer-logo:hover {
	opacity: 0.6;
}
.footer-navigation {
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	color: #000000;
	background-color: #ffffff;
	list-style: none;
	text-transform: uppercase;
}
.footer-navigation a{
	color: #000000;
}
.footer-navigation ul,
.footer-social ul {
	list-style: none;
}
fieldset {
	border: none;
 }
